# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\everyDou\yml\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
